!!! XML
='<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">'
%svg{width: 16, height: 16, viewBox: '0 0 16 16', xmlns: 'http://www.w3.org/2000/svg'}
  - color = invert ? 'fff' : '000'
  %polygon{points: '2,7 14,7 8,14', style: "fill:##{color}"}
