doctype html
html(lang="en")
  head
    title Shibboleth
    meta(charset="UTF-8")
    meta(name="Description" content="Password Generator")
    meta(name="theme-color" content="#901011")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // scripts
    script(src='javascripts/index.js' type="module")
    script(src='javascripts/obscure.js' defer)
    script(src='pwa.js')
    // css
    link(rel='stylesheet' href="stylesheets/index.css")
    // icons
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="152x152" href="images/icon-152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="images/icon-167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/icon-180.png")
    link(rel="apple-touch-icon" sizes="192x192" href="images/icon-192.png")
    link(rel="apple-touch-icon" sizes="512x512" href="images/icon-512.png")
    link(rel="manifest" href="manifest.webmanifest")
  body
    noscript
      label(for='noscript') &#xf104;
      input#noscript(type='checkbox')
      div Requires Javascript
    #settings
      div
        h4 Domains
        table
          tbody
      div.salted.hidden
        h4 Salt
        div
          input#see-salt.peek(type='checkbox' disabled)
          output.obscura
          label(for='see-salt' title="View Salt") &#xf100;
          button.copy(disabled title="Copy Salt" draggable='true') &#xf101;
        button#delete-salt.banner.destructive Delete
      div.unsalted.hidden
        h4 Salt
        <p>You can choose to include a <a href="http://en.wikipedia.org/wiki/Salt_%28cryptography%29">Salt</a> in Shibboleth's javascript. This is just one more layer of security (& complexity). This will include an extra token in the password generator that is unique to this device & browser</p>
        button#new-salt.banner Proceed
      div
        h4 FAQ
        dl
          dt Want to bypass the clipboard?
          dd If you dont feel comfortable using the clipboard, you can drag the clipboard button out and into any password field.
          dt Need to limit password length?
          dd Site ***.com limits my password to 16 characters
    header
      h1 Shibboleth
      button(title="Settings") &#xf103;
    main
      form#shibboleth
        label(for='domain') Domain
        input#domain(placeholder='host.com' autocapitalize='off' autofocus=true, spellcheck='false', list='domains' inputmode='url')
        label(for='password') Password
        input#password(type='password' placeholder='password' autocomplete="off")
        input#see.peek(type='checkbox' disabled)
        output.obscura
        label(for='see' title="View Password") &#xf100;
        button#copy(disabled title="Copy Password" draggable='true') &#xf101;
    datalist#domains
    a#repo(href='https://github.com/firien/shibboleth') https://github.com/firien/shibboleth
    template
      tr
        td
        td
          span &#xf102;
    div.dialog
      p generate by scribbling below with pointing device
      canvas
      p or paste/drop an existing salt into input below
      form#salt
        input#view-salt.banner(type='text' name='salt' required)
        button.banner(type=submit) Save
      p.warning &#xf104; Salting will alter password generation. Any previously generated passwords will not match those with this new salt.
