doctype html
html(lang="en")
  head
    title Shibboleth
    meta(charset="UTF-8")
    //- meta(name="Description" content=desc())
    //- meta(name="theme-color" content=theme())
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // scripts
    script(src='/javascripts/index.js' type="module")
    // css
    link(rel='stylesheet' href="/stylesheets/index.css")
    // icons
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    #settings
      table
        thead
          tr
            th(colspan='2') Domains
        tbody
      ul
        li
          a#bookmarklet Bookmarklet
        li
          button#shortcuts Shortcuts JS
        li
          button#salt Salt
    header Shibboleth
    form
      label(for='domain') Domain
      input#domain(placeholder='www.host.com' autocapitalize='off' autofocus=true, list='domains')
      label(for='password') Password
      input#password(type='password' placeholder='password' autocomplete="off")
      input#see(type='checkbox' disabled)
      output
      label(for='see' title="View Password") &#xe000;
      button#copy(disabled title="Copy Password") &#xe001;
    datalist#domains
    a#repo(href='https://github.com/firien/shibboleth') https://github.com/firien/shibboleth
    .hidden
      canvas
    template
      tr
        td
        td
          span &#xe002;