doctype html
html(lang="en")
  head
    title Shibboleth
    meta(charset="UTF-8")
    meta(name="Description" content="Password Generator")
    meta(name="theme-color" content="#901011")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // scripts
    script(src='javascripts/index.js' type="module")
    script(src='pwa.js')
    // css
    link(rel='stylesheet' href="stylesheets/index.css")
    // icons
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="152x152" href="images/icon-152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="images/icon-167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/icon-180.png")
    link(rel="apple-touch-icon" sizes="192x192" href="images/icon-192.png")
    link(rel="apple-touch-icon" sizes="512x512" href="images/icon-512.png")
    link(rel="manifest" href="manifest.webmanifest")
  body
    noscript
      label(for='noscript') &#xf104;
      input#noscript(type='checkbox')
      div Requires Javascript
    #settings
      table
        thead
          tr
            th(colspan='2') Domains
        tbody
      ul
        li
          button#salt Salt
      details(open)
        summary FAQ
        ul
          li
            h5 Want to bypass the clipboard?
            p Drag clipboard button into password field
          li
            h5 Need to limit password length?
            p Site ***.com limits my password to 16 characters
    header
      h1 Shibboleth
      button(title="Settings") &#xf103;
    main
      form
        label(for='domain') Domain
        input#domain(placeholder='www.host.com' autocapitalize='off' autofocus=true, spellcheck='false', list='domains')
        label(for='password') Password
        input#password(type='password' placeholder='password' autocomplete="off")
        input#see(type='checkbox' disabled)
        output
        label(for='see' title="View Password") &#xf100;
        button#copy(disabled title="Copy Password" draggable='true') &#xf101;
    datalist#domains
    a#repo(href='https://github.com/firien/shibboleth') https://github.com/firien/shibboleth
    .hidden
      canvas
    template
      tr
        td
        td
          span &#xf102;
