=#sine wave with 4π period
-x = -> deg { return Math::sin((deg.to_radian-angle.to_radian)/4).abs }
%svg{width: 16, height: 16, viewBox: '0 0 16 16', xmlns: 'http://www.w3.org/2000/svg', :style => 'display:none'}
  -step = 30
  %g
    -angle.step(angle-330, -step) do |theta|
      =#-opacity = x.call(theta)
      %rect{x: 7, y: 0, width: 2, height: 4, transform: "rotate(#{theta} 8 8)", style: "fill:rgba(0,0,0,#{1-x.call(theta)})"}
      =#%rect{x: 7, y: 0, width: 2, height: 4, transform: "rotate(#{theta} 8 8)", style: "fill:rgb(#{3.times.map { (255*opacity).to_i }.join(',')})"}
    %animateTransform{attributeName: "transform", attributeType: "XML", type: "rotate", values: "0 8 8;30 8 8;60 8 8;90 8 8;120 8 8;150 8 8;180 8 8;210 8 8;240 8 8;270 8 8;300 8 8;330 8 8", 'begin' => "0", dur: "0.75s", repeatDur: "indefinite", calcMode: "discrete"}
