@mixin transition($attr, $speed) {
  -o-transition: $attr $speed ease-in-out;
  -webkit-transition: $attr $speed ease-in-out;
  -moz-transition: $attr $speed ease-in-out;
}

div#modal {
  width: 100%;
  height: 100%;
  background: grey;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  @include transition(background-color, 0.3s);
}

div.hud {
  font-size: 0.8em;
  background-color: #999;
  margin: 10% auto 0 auto;
  border: 10px solid rgba(255, 255, 255, 0.6);
  height: auto;
  width: 410px;
  background-clip: padding-box;
  border-radius: 10px;
  position:relative;
}

@media screen and (max-width:650px) {
  div.hud {
    font-size: 0.8em;
    margin: 1em;
    border: 0.5em solid rgba(255, 255, 255, 0.6);
    height: auto;
    width:auto;
    background-clip: padding-box;
    border-radius: 0.5em;
  }
}

