!!! 5
%html
  %head
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
    :css
      body {
        margin:0;
        font-family:Helvetica;
      }
      h2 {
        text-shadow:#ddd 0px 2px 0px;
      }
      p:first-letter {
        float:left;
        font-size:2em;
        / border:1px solid red;
      }
      .step {
        width:400px;
        width:50%;
        height:400px;
        background-color:green;
      }
      .h {
        float:left;
        background-color:aqua;
      }
      #canvas {
        width:410px;
        width:200%;
        /height:200px;
        -webkit-transition:-webkit-transform 0.3s ease-in-out;
      }
      /#canvas:hover {
      /  -webkit-transform:translate3d(0,-400px,0);
      /}
      .frame {
        width:400px;
        width:66%;
        height:400px;
        overflow:hidden;
        / display:inline-block;
        /border-radius:0 2em 2em 0;
      }
      .left {
        float:left;
        / display:inline-block;
        width:34%;
        background-color:grey;
      }
      #master {
        border-radius:2em;
        box-shadow:inset 0 0 5px #888;
        margin:2em;
        overflow:hidden;
        background-clip: content-box;
      }
      a.internal {
        padding: 0.5em 1em;
        background-color: #ddd;
        border-radius: 3px;
        text-decoration: none;
        font-weight: bold;
        color: #222;
        white-space: nowrap;
      }
      a.internal:hover {
        color: #66c;
        background-color: #ccc;
      }
    :javascript
      // alert(window.navigator.standalone)
      document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
          //document.querySelector('#canvas').style.webkitTransform = 'translate3d(0,-400px,0)';
          //document.querySelector('#canvas').style.webkitTransform = 'rotate(40deg)';
          //document.querySelector('#canvas').scrollTop = "45px";
        }, 2000);
      }, true)
  %body
    #master
      .left
        %h2 Shibboleth
        %p SHIBBOLETH is a password generator that allows you to remember just one (1) master password.
      .frame
        #canvas
          .step
            -bookmarklet = coffee erb 'shibboleth.js.coffee'.to_sym, locals: {bookmarklet: true, salt: ''}
            -bookmarklet = URI.encode('javascript:' + Uglifier.compile(bookmarklet,beautify: false))
            %a.internal{title: 'shibboleth.js', href: bookmarklet} Bookmarklet
            -app = haml 'shibboleth.html'.to_sym
            %a.internal{title: 'shibboleth.app', href: 'data:text/html;base64,'+[app].pack('m0')} Web App
          .step.h make salt
          .step.h new links
          %br{style: 'clear:both'}
    %label{for: :salt} Include a Salt?
    %input#salt{type: 'checkbox'}
    Q. What is a Salt?