!!! 5
%html
  %head
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{:'http-equiv' => 'content-type', :content => 'text/html;charset=utf-8'}
    %title Shibboleth
    %link{rel: 'stylesheet', href: '/assets/modal.css', type: 'text/css', media: 'screen'}
    %script{type: 'text/javascript', src: '/assets/pico.js'}
    %script{type: 'text/javascript', src: '/assets/modal.js'}
    %script{type: 'text/javascript', src: '/assets/pencil.js'}
    :css
      body {
        margin:0;
        font-family:Helvetica;
        background-color:#456;
      }
      h1 {
        text-shadow:#ddd 0px 2px 0px;
        margin-top:0;
      }
      .bar {
        margin-top:20%;
        float:left;
        padding:3em 1em;
      }
      .bar div {
        position:fixed;
      }
      .article {
        float:left;
        padding:1em;
        / text-align:justify;
        / position:absolute;
        / display:inline-block;
        width:60%;
        min-width:380px;
        max-width:600px;
        background-color:#dadada;
        / top:0;
        / bottom:0;
        -webkit-box-shadow: -5px 0px 5px -2px #888 inset;
        text-shadow:#fff 0px 1px 0px;
      }
      ::selection {
        background-color:#ff8;
      }
      a.internal {
        display:block;
        padding: 0.5em 1em;
        background-color: #ddd;
        border-radius: 3px;
        font-weight: bold;
        color: #222;
        white-space: nowrap;
        background-image: -moz-linear-gradient(top, #ddd, #bbb);
        background-image: -webkit-linear-gradient(top, #ddd, #bbb);
        background-image: -o-linear-gradient(top, #ddd, #bbb);
        background-repeat: no-repeat;
        box-shadow: 0 0.1em 0.3em #000;
        margin:0.5em;
        text-decoration: none;
      }
      a.internal:active {
        box-shadow: 0 0.1em 0.3em #000 inset;
      }
      a.internal:hover {
        color: blue;
        background-color: #ccc;
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-repeat: no-repeat;
      }
      a.internal span {
        /*background-image:url('images/l.gif');*/
        background-repeat: no-repeat;
        / padding-left:24px;
      }
      a.internal span.salted::after {
        content:' salt';
        font-weight:normal;
        text-transform:uppercase;
        font-size:0.5em;
        vertical-align: super
      }
      /span.salted {
      /  background-image:url('images/salt.png');
      /  background-repeat: no-repeat;
      /  padding-left:24px;
      /}
      input[type=text] {
        font-weight:bold;
        font-size:1em;
      }
      code {
        border-radius:3px;
        / border:1px solid black;
        background-color:white;
      }
      pre code {
        background-color:transparent;
        border-radius:0;
      }
      pre {
        overflow-x:scroll;
        overflow-y:hidden;
        background-color:white;
        padding:1em;
      }
      hr {
        margin-top:2em;
        margin-bottom:2em;
      }
      #salt-hud {
        position:absolute;
        top:0;
        left:0;
        background-color:rgba(123,163,200,0.8);
        width: 100%;
        font-size:1.1em;
        text-align:center;
        / height: 30px;
      }
      canvas {
        background-color:#eee;
        -moz-box-shadow: inset 0 0 5px #888;
        -webkit-box-shadow: inset 0 0 5px #888;
        box-shadow: inner 0 0 5px #888;
      }
      .hud p {
        text-align:center;
        text-shadow:#ddd 0px 1px 0px;
        margin: 0.2em 0;
      }
      @media screen and (max-width:650px) {
        .article {
          float:none;
          width:auto;
          max-width:none;
          min-width:0;
          padding:1em;
          background-color:#d5d5d5;
          -webkit-box-shadow: 0px 5px 5px -2px #222;
        }
        .bar {
          float: none;
          padding-top:0.25em;
          margin-top:0.25em;
          margin-right:auto;
          margin-left:auto;
          width:auto;
        }
      }
    :javascript
      var salt_shaker = function(salt) {
        var actions = [{url: '/bookmarklet.js', eid: 'salt-js'}, {url: '/app', eid: 'salt-app'}];
        for (var i=0;i<actions.length;i++) {
          (function(){
            var x = i;//scope it
            $('#' + actions[x].eid + ' svg').css('display', '');
            var xhr = new XMLHttpRequest();
            xhr.open("GET", 'https://stormy-night-7144.herokuapp.com' + actions[x].url + "?salt=" + salt);
            xhr.onreadystatechange = function(){
              if (xhr.readyState == 4 && xhr.status == 200) {
                $('#' + actions[x].eid + ' svg').css('display', 'none');
                $('#' + actions[x].eid).attr('href', xhr.responseText);
                $('#' + actions[x].eid + ' span').attr('class', 'salted');
              }
             if ($('#salt')[0].textContent == '') {
               //$('#salt')[0].textContent = salt
             }
            }
            xhr.send(null);
          }).call(this);
        }
        //switch widget url
        $('#widget').attr('href', 'https://stormy-night-7144.herokuapp.com/widget.zip?salt=' + salt);
        $('#widget span').attr('class', 'salted');
      }
      window.salt_shaker = salt_shaker;
      document.addEventListener('DOMContentLoaded', function() {
        $('#sprinkle')[0].addEventListener('click', function(e) {
          var hud = modal.presentModalView();
          var canvas = document.createElement('canvas');
          canvas.attr('id', 'imageView');
          hud.appendChild(canvas);
          canvas.width = hud.clientWidth;
          canvas.height = hud.clientHeight;
          var p = document.createElement('p');
          if ('ontouchstart' in document.documentElement)
            p.appendChild(document.createTextNode('Scribble Above With Finger'))
          else
            p.appendChild(document.createTextNode('Hold Down Left Mouse Button & Scribble Above'))
          hud.appendChild(p)
          var p = document.createElement('p');
          p.appendChild(document.createTextNode('To Generate Salt'))
          hud.appendChild(p)
          window.initializeCanvas();
          e.preventDefault();
          return false;
        }, true)
      }, true)
  %body
    .article
      %h1<
        Shibboleth
        %sup> (ß)
      :markdown
        Sick of juggling passwords in your head? Making each one different enough so to not expose yourself to risk? Shibboleth lets you remember one single master password - and uses it to *generate* a unique password per website.
        ###How does it work?
        Suppose you are logging into Gmail; the URL would look something like this:

            https://accounts.google.com/ServiceLogin?service=mail…
        Shibboleth will mash your master password with the [Top-level Domain](http://en.wikipedia.org/wiki/Top-level_domain) (TLD), in this case `google.com`, and create a password unique to `google.com`. To do this it runs your master password and current TLD through a [cryptographic hash function](http://en.wikipedia.org/wiki/Cryptographic_hash_function), specifically the SHA-256 function.
        ###How do i use it?
        There are three ways to use Shibboleth.
        ####Bookmarklet
        This is a little snippet of javascript that is saved as a bookmark in your browser. When you need to log into a website you fill in your username and master password, then click on the Shibboleth bookmarklet and it will replace your master password with your unique password for that particular website.
        ####Web App
        Sometimes, specifically on mobile devices, you will be logging into sites through native applications and the bookmarklet method is not an option. So the standalone web page allows you to manually set the TLD, generate your unique password, copy to the clipboard, & paste it in the native application.

        The standalone web page is encoded into a data uri, so no internet access is required to use it.
        ####OS X Widget
        The widget is very similar to the web app, but allows easier access for OS X applications. If you want to log into <strike>iChat</strike> Messages simply pop up the Dashboard and fill out the Shibboleth widget. Due to the special access widgets have to OS X resources the password is copied directly to the clipboard. Pop back to <strike>iChat</strike> Messages and paste the password.
        ###Is my password stored anywhere?
        Nope. The bookmarklet and standalone web page are both stored on your computer and do not communicate with any server. Check out the source code at [github](https://github.com/firien/shibboleth).
        ###Site \*\*\*.com limits my password to 10 characters
        No problem, append ':xxx' to your master password to truncate it. For example `master:16` will create a password only 16 characters long.
        ###Salting
        You can choose to include a [Salt](http://en.wikipedia.org/wiki/Salt_%28cryptography%29) in Shibboleth's javascript. This is just one more layer of security (& complexity). This will regenerate the links with javascript that is unique to you. You must use the same Salt to regenerate 
    .bar
      -bookmarklet = coffee erb 'shibboleth.js.coffee'.to_sym, locals: {bookmarklet: true, salt: '', widget: false}
      -bookmarklet = URI.encode('javascript:' + Uglifier.compile(bookmarklet,beautify: false))
      %a.internal#salt-js{title: 'shibboleth.js', href: bookmarklet}
        =haml 'loading.svg'.to_sym, locals: {angle: 0}
        %span Bookmarklet
      -app = haml 'shibboleth.html'.to_sym, locals: {widget: false}
      %a.internal#salt-app{title: 'shibboleth.app', href: 'data:text/html;base64,'+[app].pack('m0')}
        =haml 'loading.svg'.to_sym, locals: {angle: 0}
        %span Web App
      %a.internal#widget{title: 'widget', href: 'https://stormy-night-7144.herokuapp.com/widget.zip'}
        %span OS X Widget
      %hr
      %a.internal#sprinkle{href: '#'}
        %span Regenerate w/Salt
      %p#salt
      /%input#salt{type: 'text', name: 'salt', placeholder: 'Salt'}
      %br
    %a{href: 'https://github.com/firien/shibboleth'}
      %img{style: 'position: absolute; top: 0; right: 0; border: 0', src: 'https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt: 'Fork me on GitHub'}
