!!! 5
%html
  %head
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
    :css
      body {
        margin:0;
        font-family:Helvetica;
      }
      h2 {
        text-shadow:#ddd 0px 2px 0px;
      }
      p:first-letter {
        float:left;
        font-size:2em;
        / border:1px solid red;
      }
      .step {
        margin-left:35%;
        padding:2em;
      }
      .left {
        padding:0.5em;
        position:absolute;
        / display:inline-block;
        width:35%;
        background-color:#d5d5d5;
        top:0;
        bottom:0;
        -webkit-box-shadow: -5px 0px 5px -2px #888 inset;
      }
      a.internal {
        display:inline-block;
        padding: 0.5em 1em;
        background-color: #ddd;
        border-radius: 3px;
        text-decoration: none;
        font-weight: bold;
        color: #222;
        white-space: nowrap;
      }
      a.internal:hover {
        color: blue;
        background-color: #ccc;
      }
  %body
    %a{href: 'https://github.com/firien/shibboleth'}
      %img{style: 'position: absolute; top: 0; right: 0; border: 0', src: 'https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt: 'Fork me on GitHub'}
    .left
      %h2 Shibboleth
      %p SHIBBOLETH is a password generator that allows you to remember just one (1) master password.
    .step
      -bookmarklet = coffee erb 'shibboleth.js.coffee'.to_sym, locals: {bookmarklet: true, salt: ''}
      -bookmarklet = URI.encode('javascript:' + Uglifier.compile(bookmarklet,beautify: false))
      %a.internal{title: 'shibboleth.js', href: bookmarklet} Bookmarklet
      -app = haml 'shibboleth.html'.to_sym
      %a.internal{title: 'shibboleth.app', href: 'data:text/html;base64,'+[app].pack('m0')} Web App
