!!! 5
%html
  %head
    %title shibboleth
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: "57x57", href: 'http://firien.github.com/shibboleth/images/icon-iphone.png'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: "114x114", href: 'http://firien.github.com/shibboleth/images/icon-iphone@2x.png'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: "72x72", href: 'http://firien.github.com/shibboleth/images/icon-ipad.png'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: "144x144", href: 'http://firien.github.com/shibboleth/images/icon-ipad@2x.png'}
    %link{rel: 'apple-touch-startup-image', media: "(device-width: 320px)", href: 'http://firien.github.com/shibboleth/images/startup-iphone.png'}
    %link{rel: 'apple-touch-startup-image', media: "(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)", href: 'http://firien.github.com/shibboleth/images/startup-iphone.png'}
    %link{rel: 'apple-touch-startup-image', media: "(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)", href: 'http://firien.github.com/shibboleth/images/startup-iphone@2x.png'}
    %link{rel: 'apple-touch-startup-image', media: "(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)", href: 'http://firien.github.com/shibboleth/images/apple-touch-startup-image-768x1004.png'}
    %link{rel: 'apple-touch-startup-image', media: "(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)", href: 'http://firien.github.com/shibboleth/images/apple-touch-startup-image-1536x2008.png'}
    %link{rel: 'apple-touch-startup-image', media: "(device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)", href: 'http://firien.github.com/shibboleth/images/apple-touch-startup-image-748x1024.png'}
    %link{rel: 'apple-touch-startup-image', media: "(device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)", href: 'http://firien.github.com/shibboleth/images/apple-touch-startup-image-1496x2048.png'}
    :css
      #{scss erb('shibboleth.css.scss'.to_sym, locals: {widget: widget})}
    - if widget
      %script{type: 'text/javascript', src: 'main.js', charset: 'utf-8'}
    - else
      -js = coffee erb 'shibboleth.js.coffee'.to_sym, locals: {bookmarklet: false, salt: salt, widget: widget}
      :javascript
        function shibboleth() {
          =#just use coffeescripts anonymous executed function
          #{Uglifier.compile(js, beautify: false)}
        }
        #{coffee erb 'dom.js.coffee'.to_sym, locals: {widget: widget}}
  %body
    #wrapper
      .title Shibboleth
      .bg
        %form
          %input{type: 'url', placeholder: 'www.host.com', autocapitalize: 'off', autofocus: true}
          %label{for: 'host'} TLD
          %input{type: 'password', placeholder: 'password'}
          %label{for: 'password'} Password
          - unless widget
            %output
        %a{href: 'https://github.com/firien/shibboleth'} https://github.com/firien/shibboleth
