%html
  %head
    %title shibboleth
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: "57x57", href: 'images/icon-iphone.png'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: "114x114", href: 'images/icon-iphone@2x.png'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: "72x72", href: 'images/icon-ipad.png'}
    /%link{rel: 'apple-touch-startup-image', href: '/startup.png'}
    /%link{rel: 'stylesheet', href: '/assets/shibboleth.css', type: 'text/css', media: 'screen'}
    :css
      #{scss erb('shibboleth.css.scss'.to_sym)}
    -js = coffee erb 'shibboleth.js.coffee'.to_sym, locals: {bookmarklet: false, salt: salt}
    :javascript
      function shibboleth() {
        //just use coffeescripts anonymous executed function
        #{Uglifier.compile(js, beautify: false)}
      }
      function $(selector) { return document.querySelector(selector); }
      document.addEventListener('DOMContentLoaded', function() {
        if (("standalone" in window.navigator) && (!window.navigator.standalone)) {
          $(".title").style.display = 'none';
        }
        var f = $("form");
        f.addEventListener('submit', function(e) {
          e.preventDefault();
          $("input[type=password]").blur();
          return false;
        }, true);
        var t = $("input[type=password]");
        t.addEventListener('blur', function(e) {
          shibboleth();
        })
        t.addEventListener('keyup', function(e) {
          if (e.keyCode == 13) {
            setTimeout(function() {
              $("input[type=password]").blur();
            }, 100);
          }
        })
      })
  %body
    .title Shibboleth
    %form
      %input{type: 'url', placeholder: 'www.host.com', autocapitalize: 'off', autofocus: true}
      %label{for: 'host'} TLD
      %input{type: 'password'}
      %label{for: 'password'} Password
      %output
      /%input{type: 'submit'}
    %a{href: '#'} https://github.com/firien/shibboleth
