!!! 5
%html
  %head
    :css
      details {
        margin-bottom:0.25em;
      }
      summary {
        padding:0.5em;
        cursor:pointer;
      }
      details.pass {
        background-color: #9f9;
      }
      details.fail {
        background-color: #f99;
      }
      details:focus, summary {
        outline:none;
      }
    -js = coffee erb 'shibboleth.js.coffee'.to_sym, locals: {bookmarklet: false, salt: salt, widget: false}
    %script{type: 'text/javascript'}=js
    %script{src: '/test.js', type: 'text/javascript'}
    :coffee
      document.addEventListener('DOMContentLoaded', ->
        assert("It should return 5",(->return 5),5);
        assert("It should hash string (SHA256)",(->return Shibboleth.sha256('myknownshais')),"1d2c3185a5197982bc6d68371a1aad65b3861868747a21034de4df6f1e33dd1c");
        assert("It should strip subdomains",(->return Shibboleth.hash('secret', 'mail.google.com')),Shibboleth.hash('secret', 'google.com'));
        assert("It should strip subdomains",(->return Shibboleth.hash('secret', 'x1.mail.google.us')),Shibboleth.hash('secret', 'google.us'));
        assert("It should return predetermined length",(->return Shibboleth.hash('secret:12', 'x1.mail.google.us').length), 12);
      )
  %body
