@font-face {
  font-family: "Shibboleth";
  src: url('/shibboleth/fonts/font.ttf') format('truetype'),
       url('/shibboleth/fonts/font.woff2') format('woff2'),
       url(/shibboleth/fonts/font.svg#shibboleth) format('svg');
}
noscript {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  max-width: 3rem;
}
noscript label {
  font-family: Shibboleth;
  font-size: 1.5rem;
  display: inline;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: darkred;
  cursor: pointer;
}
noscript div {
  display: none;
}
noscript input[type=checkbox]:checked ~ div {
  display: block;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  color: darkred;
  background-color: darksalmon;
  padding: 1rem;
}

:root {
  --text-color: black;
  --background-color: white;
  --secondary-background-color: #ddd;
  --tertiary-background-color: rgb(220,223,229);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black;
    --secondary-background-color: #555;
    --tertiary-background-color: rgb(35,32,26);
  }
  #settings {
    background-color:rgba(155,155,155, 0.4) !important;
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #settings {
      background-color:rgba(155,155,155, 0.4) !important;
    }
  }
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #settings {
      background-color:rgba(155,155,155) !important;
    }
  }
}
body {
  text-align:center;
  font-family: -apple-system, Helvetica;
  margin: 0 1rem;
  background-color: var(--tertiary-background-color);
}
body.modal {
  overflow: hidden;
}
button {
  padding: 0;
}
header {
  z-index: 9;
  user-select: none;
  -webkit-user-select: none;
  height: 3rem;
  /* text-shadow:#eed 0px 1px 0px; */
  line-height: 3rem;
  position: absolute;
  top: 0;
  color: var(--text-color);
  font-weight: bold;
  width: calc(100vw - 2rem);
  transition: border-radius 0.4s ease-in-out, background-color 0.4s ease-in-out;
  display: flex;
  box-sizing: border-box;

  border-radius:0 0 10px 10px;
  background-color: var(--background-color);
  border-left: thin solid rgb(171, 171, 171);
  border-right: thin solid rgb(171, 171, 171);
  border-bottom: thin solid rgb(171, 171, 171);
}

header > button {
  font-family: Shibboleth;
  font-size: 1.5rem;
  width: 3rem;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
}
button:focus, button:active {
  outline: none;
}
#copy:disabled {
  color: grey;
}
header > h1 {
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  flex: 1 1 90%;
  padding-left: 3rem;
  margin: 0;
}
#settings {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4rem;
  height: 100vh;
  border-radius:0 0 10px 10px;
  font-size:1.2em;
  border-left: thin solid rgb(171, 171, 171);
  border-right: thin solid rgb(171, 171, 171);
  border-bottom: thin solid rgb(171, 171, 171);
  box-sizing: border-box;
  transition: transform 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  position: absolute;
  top: -100vh;
  width: calc(100vw - 2rem);
  /* transform: translateY(-100vh) */
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #settings {
    -webkit-backdrop-filter: blur(0.7rem);
    backdrop-filter: blur(0.7rem);
    background-color:rgba(255,255,255, 0.4);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #settings {
    background-color:rgba(255,255,255);
  }
}

#settings details {
  flex: 1 0 100%;
  text-align: left;
}
details > summary {
  outline: none;
}
#settings table {
  color: var(--text-color);
  /* flex: 1 0 50%; */
}
#settings.expand ul {
  opacity: 1;
}
#settings.expand {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(100vh);
  border-radius: 0;
  border-bottom: none;
  overflow-y: auto;
}
#settings.expand.moving {
  transition: none;
}
#settings.expand + header {
  /* text-shadow:#000 0px 1px 0px; */
  /* color: var(--secondary-background-color); */
  background-color: var(--secondary-background-color);
  border-radius: 0;
}
#settings.expand table td {
  text-align: right;
  border: thin solid black;
  padding: 0.2em;
}

#settings.expand table {
  /* margin: auto; */
  border-collapse: collapse;
  border-color: grey;
}
span {
  font-family: Shibboleth;
  color: red;
  text-align: center;
  cursor: pointer;
}

input, output {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.2em;
}

input {
  grid-area: input;
  grid-row: 1;
  border-radius:0 10px 0 0;
  background-color: var(--background-color);
  border:1px solid rgb(171,171,171);
  border-left: none;
  padding: 0 0 0 0.5em;
  margin:0 0 0 0;
  box-sizing: content-box;
  color: var(--text-color);
}

output {
  grid-area: output;
  display: inline-block;
  grid-row: 3;
  border-radius: 0 0 0 10px;
  line-height: 3rem;
  text-align: right;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid rgb(171,171,171);
  border-top: none;
  border-right: none;
  padding: 0 0.5em 0 0.5em;
  /* font-family: Menlo, Tahoma; */
  font-family: Shibboleth;
  /* font-size: 0.8rem; */
}

form button {
  display: block;
  max-width: 3rem;
  width: 3rem;
  line-height: 3rem;
  margin: 0;
  border: 1px solid rgb(171,171,171);
  border-top: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--secondary-background-color);
}
form button:not(:disabled) {
  cursor: pointer;
}
form button:not(:disabled):hover {
  background-color: var(--background-color);
}
label[for=see] {
  user-select: none;
  -webkit-user-select: none;
  grid-area: see;
  grid-row: 3;
  display: block;
  max-width: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-right: none;
  font-family: "Shibboleth";
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  border-radius: 0;
  border-top: none;
  text-indent: 0;
  text-align: center;
}
input#see:not(:disabled) ~ label[for=see] {
  cursor: pointer;
}
input#see:not(:disabled) ~ label[for=see]:hover {
  background-color: var(--background-color);
}

input#see:disabled ~ label[for=see] {
  color: grey;
}
input#see:checked ~ label[for=see] {
  background-color: var(--background-color);
}
input#see:checked ~ output {
  font-family: Menlo, Tahoma;
}
button#copy {
  grid-area: copy;
  grid-row: 3;
  border-radius: 0 0 10px 0;
  font-family: "Shibboleth";
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
}
input[type=checkbox] {
  display: none;
}
label {
  grid-area: label;
  grid-row: 1;
  font-size:1.2em;
  display:block;
  border-radius:10px 0 0 0;
  background-color: var(--background-color);
  border:1px solid rgb(171,171,171);
  line-height: 3rem;
  text-align:left;
  font-weight:bold;
  text-indent: 1em;
  color: var(--text-color);
}

label[for=password],input[type=password] {
  border-radius:0;
  border-top:none;
  grid-row: 2;
}

input:focus {
  outline: none;
  background-color: var(--secondary-background-color);
}
a#repo {
  margin-top: 2em;
  font-size: 1em;
  color: var(--text-color);
  text-shadow: var(--secondary-background-color) 0px 1px 0px;
  text-decoration: none;
}
form {
  margin: 4rem 0 1rem 0;
  display: grid;
  grid-template-columns: .4fr .6fr;
  grid-template-rows: 3rem 3rem 3rem;
  grid-template-areas:
    "label input input input"
    "label input input input"
    "output output see copy";
}

ul {
  position: sticky;
  position: -webkit-sticky;
  top: 0rem;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
ul li button, ul li a {
  width: 25vw;
  width: 100%;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0.2rem;
  border: thin solid grey;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.2rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--tertiary-background-color);
  cursor: pointer;
}
li button:hover, li a:hover {
  background-color: var(--secondary-background-color);
}
@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }
  header {
    width: 100vw;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: thin solid rgb(171, 171, 171);
  }
  #settings {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0;
    width: 100vw;
    border-left: none;
    border-right: none;
  }
  #settings ul {
    order: 1;
    align-self: center;
  }
  #settings table {
    order: 2;
    align-self: center;
  }
  #settings details {
    order: 3;
    align-self: left;
    flex: unset;
  }
  form {
    margin: 4rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 3rem 3rem;
    grid-template-areas:
      "input input input"
      "input input input"
      "output see copy";
  }
  label {
    display: none;
  }
  input {
    padding: 0 0 0 0.75em;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  output {
    border-radius: 0;
    border-left: none;
    font-size: 4.5vw;
  }
  button#copy {
    border-radius: 0;
    border-right: none;
  }
}
