* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Shibboleth";
  src: url('/shibboleth/fonts/font.ttf') format('truetype'),
       url('/shibboleth/fonts/font.woff2') format('woff2'),
       url(/shibboleth/fonts/font.svg#shibboleth) format('svg');
}
noscript {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 1rem;
  width: 3rem;
  max-width: 3rem;
}
noscript label {
  font-family: Shibboleth;
  font-size: 1.5rem;
  display: block;
  height: 3rem;
  line-height: 3rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: darksalmon;
  cursor: pointer;
}
noscript div {
  display: none;
}
noscript input[type=checkbox] {
  display: none;
}
noscript input[type=checkbox]:checked ~ div {
  display: block;
  position: absolute;
  top: 3rem;
  left: 0;
  width: calc(100vw - 2rem);
  border-radius: 10px;
  box-sizing: border-box;
  color: darkred;
  background-color: darksalmon;
  padding: 1rem;
}

:root {
  --text-color: black;
  --background-color: white;
  --secondary-background-color: #ddd;
  --tertiary-background-color: rgb(220,223,229);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black;
    --secondary-background-color: #555;
    --tertiary-background-color: rgb(35,32,26);
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #settings, div#modal {
      background-color:rgba(155,155,155, 0.4) !important;
    }
  }
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #settings, div#modal {
      background-color:rgba(155,155,155) !important;
    }
  }
}
/* ios standalone */
button.refresh {
  font-family: Shibboleth;
  font-size: 1.5rem;
  display: block;
  height: 3rem;
  line-height: 3rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  max-width: 3rem;
}

.hidden {
  display: none;
}
h4, .h4 {
  margin-top: 1rem;
  text-align: left;
  padding-left: 0.5rem;
  color: var(--text-color);
}
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
}
body {
  text-align:center;
  font-family: -apple-system, Helvetica;
  margin: 0 1rem;
  background-color: var(--tertiary-background-color);
}
body.modal {
  overflow: hidden;
}
button {
  padding: 0;
}
header {
  z-index: 9;
  user-select: none;
  -webkit-user-select: none;
  height: 3rem;
  /* text-shadow:#eed 0px 1px 0px; */
  line-height: 3rem;
  position: absolute;
  top: 0;
  color: var(--text-color);
  font-weight: bold;
  width: calc(100vw - 2rem);
  transition: border-radius 0.4s ease-in-out, background-color 0.4s ease-in-out;
  display: flex;
  box-sizing: border-box;

  border-radius:0 0 10px 10px;
  background-color: var(--background-color);
  border-left: thin solid rgb(171, 171, 171);
  border-right: thin solid rgb(171, 171, 171);
  border-bottom: thin solid rgb(171, 171, 171);
}

header > button {
  font-family: Shibboleth;
  font-size: 1.5rem;
  width: 3rem;
  cursor: pointer;
  color: var(--text-color);
}
button:focus, button:active {
  outline: none;
}
#copy:disabled {
  color: grey;
}
header > h1 {
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  flex: 1 1 90%;
  padding-left: 3rem;
  margin: 0;
}
#settings {
  display: flex;
  /* justify-content: space-evenly; */
  padding-top: 4rem;
  height: 100vh;
  border-radius:0 0 10px 10px;
  font-size:1.2em;
  border-left: thin solid rgb(171, 171, 171);
  border-right: thin solid rgb(171, 171, 171);
  border-bottom: thin solid rgb(171, 171, 171);
  box-sizing: border-box;
  transition: transform 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  position: absolute;
  top: -100vh;
  width: calc(100vw - 2rem);
  overflow-y: auto;
  /* transform: translateY(-100vh) */
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #settings {
    -webkit-backdrop-filter: blur(0.7rem);
    backdrop-filter: blur(0.7rem);
    /* background-color:rgba(255,255,255, 0.4); */
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #settings {
    background-color:rgba(255,255,255);
  }
}

#settings details {
  flex: 1 0 100%;
  text-align: left;
}
details > summary {
  outline: none;
}
#settings table {
  color: var(--text-color);
  margin-left: 1.5rem;
  /* flex: 1 0 50%; */
}
#settings tr:hover td {
  background-color: var(--background-color);
}
#settings.expand {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform: translateY(100vh);
  border-radius: 0;
  border-bottom: none;
}
#settings.expand.moving {
  transition: none;
}
#settings.expand + header {
  /* text-shadow:#000 0px 1px 0px; */
  /* color: var(--secondary-background-color); */
  background-color: var(--secondary-background-color);
  border-radius: 0;
}
#settings.expand table td {
  text-align: right;
  /* border: thin solid black; */
  padding: 0.2em;
}

#settings.expand table {
  /* margin: auto; */
  border-collapse: collapse;
  /* border-color: grey; */
}
#settings.expand > div:first-child {
  flex: 1 1 100%;
}
#settings.expand > div {
  width: 50%;
}
dt {
  text-align: left;
  padding-left: 1rem;
}
dd {
  text-align: left;
  padding-left: 1.5rem;
}
span {
  font-family: Shibboleth;
  color: red;
  text-align: center;
  cursor: pointer;
}
.destructive {
  background-color: red;
  color: white;
}
input, output {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.2em;
}

#shibboleth input {
  grid-area: input;
  grid-row: 1;
  border-radius:0 10px 0 0;
  background-color: var(--background-color);
  border: thin solid rgb(171,171,171);
  border-left: none;
  padding: 0 0 0 0.5em;
  margin:0 0 0 0;
  box-sizing: content-box;
  color: var(--text-color);
}

#shibboleth output {
  grid-area: output;
  display: inline-block;
  grid-row: 3;
  border-radius: 0 0 0 10px;
  line-height: 3rem;
  text-align: right;
  background-color: var(--background-color);
  color: var(--text-color);
  border: thin solid rgb(171,171,171);
  border-top: none;
  border-right: none;
  padding: 0 0.5em 0 0.5em;
}
output.obscura {
  font-family: Shibboleth;
}
#shibboteh button {
  display: block;
  max-width: 3rem;
  width: 3rem;
  line-height: 3rem;
  margin: 0;
  border: thin solid rgb(171,171,171);
  border-top: none;
  background-color: var(--secondary-background-color);
}
#shibboteh button:not(:disabled) {
  cursor: pointer;
}
#shibboteh button:not(:disabled):hover {
  background-color: var(--background-color);
}
label[for=see] {
  user-select: none;
  -webkit-user-select: none;
  grid-area: see;
  grid-row: 3;
  display: block;
  max-width: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-family: "Shibboleth";
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  border-right: none;
  border-radius: 0;
  border-top: none;
  text-indent: 0;
  text-align: center;
  border-left: thin solid rgb(171, 171, 171);
  border-bottom: thin solid rgb(171, 171, 171);
}
input.peek:not(:disabled) + output.obscura + label, #copy:not(:disabled) {
  cursor: pointer;
}
input.peek:not(:disabled) + output.obscura + label:hover, #copy:not(:disabled):hover {
  background-color: var(--background-color);
}

input.peek:disabled + output.obscura + label {
  color: grey;
}
input.peek:checked + output.obscura + label {
  background-color: var(--background-color);
}
input.peek:checked + output.obscura {
  font-family: Menlo, Tahoma;
}
button#copy {
  grid-area: copy;
  grid-row: 3;
  width: 3rem;
  max-width: 3rem;
  border-radius: 0 0 10px 0;
  font-family: "Shibboleth";
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
  border: thin solid rgb(171,171,171);
  border-top: none;
  line-height: 3rem;
  background-color: var(--secondary-background-color);
}
input.peek[type=checkbox] {
  display: none;
}
#shibboleth label[for=password], #shibboleth label[for=domain] {
  grid-area: label;
  grid-row: 1;
  font-size: 1.2em;
  display: block;
  border-radius: 10px 0 0 0;
  background-color: var(--background-color);
  border: thin solid rgb(171,171,171);
  line-height: 3rem;
  text-align:left;
  font-weight:bold;
  text-indent: 1em;
  color: var(--text-color);
}

#shibboleth label[for=password], #shibboleth input[type=password] {
  border-radius:0;
  border-top:none;
  grid-row: 2;
}

input:focus {
  outline: none;
  background-color: var(--secondary-background-color);
}
a#repo {
  margin-top: 2em;
  font-size: 1em;
  color: var(--text-color);
  text-shadow: var(--secondary-background-color) 0px 1px 0px;
  text-decoration: none;
}
#shibboleth {
  margin: 4rem 0 1rem 0;
  display: grid;
  grid-template-columns: .4fr .6fr;
  grid-template-rows: 3rem 3rem 3rem;
  grid-template-areas:
    "label input input input"
    "label input input input"
    "output output see copy";
}

/* modal */
div#modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
}

div.hud {
  /* font-size: 0.8em; */
  background-color: var(--background-color);
  margin: 10% auto 0px auto;
  border: 10px solid rgba(255, 255, 255, 0.6);
  height: auto;
  width: 410px;
  background-clip: padding-box;
  border-radius: 10px;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  div#modal {
    -webkit-backdrop-filter: blur(0.7rem);
    backdrop-filter: blur(0.7rem);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  div#modal {
    background-color:rgba(255,255,255);
  }
}

div.dialog {
  display: none;
}
div.hud div.dialog {
  display: block;
}
.warning::first-letter {
  font-family: Shibboleth;
  color: darksalmon;
}
#new-salt {
  background-color: aquamarine;
}
form#salt input {
  border: thin solid rgb(171, 171, 171);
  border-left: none;
  border-right: none;
}
form#salt button {
  background-color: mediumseagreen;
}
p {
  text-align: left;
  padding-left: 1rem;
  color: var(--text-color);
}
table tbody:empty::after {
  content: "No domains stored";
}
.banner {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
input.banner {
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 0;
  border: none;
}
button.banner {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }
  noscript {
    left: 0;
  }
  noscript input[type=checkbox]:checked ~ div {
    width: 100vw;
    border-radius: 0;
  }
  header {
    width: 100vw;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: thin solid rgb(171, 171, 171);
  }
  #settings {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0;
    width: 100vw;
    border-left: none;
    border-right: none;
  }
  #settings.expand {
    flex-wrap: nowrap;
  }
  #shibboleth {
    margin: 4rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 3rem 3rem;
    grid-template-areas:
      "input input input"
      "input input input"
      "output see copy";
  }
  #shibboleth label[for=password], #shibboleth label[for=domain] {
    display: none;
  }
  #shibboleth input {
    padding: 0 0 0 0.75em;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  #shibboleth output {
    border-radius: 0;
    border-left: none;
    font-size: 4.5vw;
  }
  button#copy {
    border-radius: 0;
    border-right: none;
  }
  p {
    width: 100vw;
  }
  .banner {
    width: 100vw;
    margin-top: 1rem;
    height: 2rem;
    font-size: 1rem;
    border: none;
  }
  /* modal */
  div.hud {
    width: 100vw;
    box-sizing: border-box;
  }
  .dialog {
    display: flex;
    flex-direction: column;
  }
  .salted > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    width: 100vw;
  }
  .salted > div input {
    flex: 0 0 100%;
  }
  .salted > div label, .salted > div button {
    flex: 0 0 50%;
    font-family: Shibboleth;
    font-size: 1.5rem;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    align-content: center;
  }
  div.hud {
    border: none;
    background-clip: none;
    border-radius: 0;
  }
}
/* un-used
obscure-output {
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);
  border-left: thin solid rgb(171, 171, 171);
  border-right: thin solid rgb(171, 171, 171);
  border-bottom: thin solid rgb(171, 171, 171);
}
*/
